<div class="container" id="registration-form" ng-controller="resetPasswordController">
  <a href="/" class="login-logo"><img src="../assets/img/logo-big.png"></a>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <div class="panel panel-default" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);" ng-show="status == 'true'">
        <div class="panel-heading">
          <h2>Enter your new password</h2>
        </div>
        <div class="panel-body">
          <div class="alert alert-warning" role="alert" ng-show="error != ''">{{ error }}</div>
          <form action="" class="form-horizontal" name="frm">
            

            <div class="form-group mb-md">
                          <div class="col-xs-12">
                            <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                  </span>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.password" ng-return="onReset()" />
                </div>
                          </div>
            </div>


            <div class="form-group mb-md">
                          <div class="col-xs-12">
                            <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                  </span>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="password" ng-return="onReset()" />
                </div>
                          </div>
            </div>
          </form>
        </div>
        <div class="panel-footer">

          <div class="clearfix">
            <a href="/login" class="btn btn-default pull-left">Login</a>
            <a class="btn btn-primary pull-right" ng-click="onReset()" ng-disabled="!isFormValid()">Change</a>
          </div>
        </div>
      </div>

      <div class="panel panel-default" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);" ng-show="status != 'true'">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          The token has been expired or wrong. Please check your email again.<br /><br />
          <center>
            <a href="/forget" class="btn btn-default">Resend</a>
          </center>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>